@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');


body {
  font-family: 'Cormorant Garamond', serif;
}

.nav {
  background-color: #3D5473;
  font-family: 'Taviraj', serif;
}

.cavepicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64em;
  height: 35em;
  border-radius: 60px;
  padding: 30px;
  margin: 0px 0px 0px 40px;
}

.updatebutton {
  margin: 0px 0px 0px 10px;
}

.minuteSum {
  margin: 0px 0px 0px 275px;
  text-align: center;
  box-shadow: inset 10px #777777;
  border: 10px;
  border-top-left-radius: 80px 50px;
  border-top-right-radius: 80px 50px;
  border-bottom-left-radius: 80px 50px;
  border-bottom-right-radius: 80px 50px;
  background-color: white;
  width: 550px;
}

.sessionShow {
  text-align: center
}

.sessionShowButtons {
  display: flex;
  justify-content: center;
}
